[Desktop Entry]
Name=Evolvere Dark
Comment=Evolvere Aurorae window decoration, designed to be used with dark themes
X-KDE-PluginInfo-Author=Frank Souza
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=franksouza183@protonmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=Attribution-ShareAlike 4.0 International
X-KDE-PluginInfo-Name=Evolvere Dark
X-KDE-PluginInfo-Version=2.1
